
/*Catppuccin colors*/
@define-color backgroundColor #1e1e2e;
@define-color accentColor #a6e3a1;
@define-color textColor #cdd6f4;
@define-color subTextColor #bac2de;


.app {
    background-color: @backgroundColor;
    border-color: @accentColor;
    border-radius: 2px;
}

.input {
    color: @accentColor;
}


.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@accentColor, 0.4);
    color: @textColor;
}

.item-text {
    color: @textColor;
}
.item-name {
    color: @textColor;
    font-size: 1.2rem;
}

.selected.item-box {
    background-color: alpha (@accentColor, 0.3);
    border-radius: 2px;
}

.selected.item-box .item-text {
    color: @textColor;
}
.selected.item-box .item-name {
    color: @textColor;
    font-size: 1.2rem;
}


.item-shortcut {
    color: @accentColor;
}
.selected.item-box .item-shortcut {
    color: @accentColor;
    font-size: 1.1rem;
}

.selected.item-box{
    color: @accentColor;
}

.prefs-btn {
    opacity: 1;
}
.prefs-btn:hover {
    background-color: alpha (@accentColor, 1);
}

