@import url("/usr/share/ulauncher/themes/light/theme-gtk-3.20.css");


@import url("theme.css");

.input {
    caret-color: #f5e0dc;
}
.selected.item-box {
    /* workaround for a bug in GTK+ < 3.20 */
    border: none;
}
